.RepoCard {
  width: 315px;
  margin: 2px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  box-shadow: 3px 3px 7px 0px rgb(240 240 240 / 75%);
}

.RepoCard:hover {
  border: 1px solid #ffca36;
  box-shadow: 3px 3px 7px 0px rgb(240 240 240 / 75%);
}

.RepoCard h2 {
  padding: 0;
  margin: 4px 0;
  font-size: 18px;
}

.RepoCard a {
  font-size: 14px;
}

.RepoCard .btn-container {
  padding: 8px 0;
}
