.RepoDetails {
  padding: 8px;
}

.RepoDetails header {
  margin-bottom: 8px;
}

.RepoDetails header a {
  text-decoration: none;
}

.RepoDetails .header-text {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.RepoDetails h3 {
  margin: 0 0 0 8px;
}

.RepoDetails .commit {
  margin-bottom: 8px;
}

.RepoDetails .commit-header {
  text-overflow: ellipsis;
}

.RepoDetails .commit-message {
  margin-left: 8px;
}
