/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  padding: 8px;
  padding-bottom: 12px;
  text-align: center;
}

.App-header .text {
  color: white;
  font-size: 36px;
  font-family: AvenirNext, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 36px;
  position: relative;
  top: 6px;
}

.error-message {
  color: #ba0000;
}
