html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Drawer {
  height: 100%;
  overflow: scroll;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  min-width: 300px;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.Drawer.open {
  transform: translateX(0);
}

.Backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  right: 0;
}
